[Unit]
Description=Airflow Triggerer
After=network.target
Wants=airflow-scheduler.service

[Service]
User=cubejoe
Group=cubejoe
Type=simple
EnvironmentFile=/etc/sysconfig/airflow
ExecStart=/home/cubejoe/.local/bin/airflow triggerer
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
